/* ========================= BASE  ========================================== */

body {
    height: 100vh;
    font-family: "Montserrat" , sans-serif;
}

.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========================= CABEÇALHO  ========================================== */

header {
    background-color:#4864C0;
    max-height: 200px;
}
.logoBemol {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 40px 0px 40px 140px;
}

/* ========================= MENU  ========================================== */


/* ========================= SEÇÕES  ========================================== */
section {
    display: flex;
}
.secaoInicial h1 {
    color: #1D2F8A;
    font-weight: 700;
    font-size: 61px;
    line-height: 67px;
    width: 468px;
    height: 200px;
}

.secaoInicial p {
    color: #1D2F8A;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    width: 468px;
    height: 66px;
}
/* ========================= RODAPÉ  ========================================== */
