/* ========================= BASE  ========================================== */
:root {
    font-size: 62.5%;

    --primary-color: hsl(230, 65%, 33%);
    --second-color: hsl(226, 49%, 52%);
    --third-color: hsl(39, 100%, 65%);
 }

body {
    height: 100vh;
    font-family: "Montserrat" , sans-serif;
}

.flexRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* ========================= CABEÇALHO  ========================================== */

header {
    background-color: var(--second-color);
    max-height: 12rem;
}
.logoBemol {
    max-width: 18rem;
    max-height: 15rem;
    margin: 3rem 0 4rem 2rem;
}
/* ========================= SEÇÕES  ========================================== */
/*========= Seção Inicial ===========*/
.secaoInicial {
    margin: 1.5rem auto;
}
.secaoInicial h1 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.7rem;
    width: 20rem;
    margin-bottom: 2rem;
}

.secaoInicial p {
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    width: 20rem;
    height: 3rem;
    text-align: left;
    margin-bottom: 6.5rem;
}

.secaoInicial a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--third-color);
    color: var(--primary-color);

    margin: 2rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    height: 5rem;
    width: 18rem;

    border: none;
    border-radius: 1rem;
    cursor: pointer;

}
.secaoInicial a:hover {
    color: var(--third-color);
    background-color: var(--second-color);
}
.secaoInicial .lado-direito img {
    width: 18rem;
}
/*========= Seção Benefícios ===========*/
.secaoBeneficios {
    margin: 0 auto;

}
.secaoBeneficios h6 {
    width: 26rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 1rem;
}
.secaoBeneficios div img {
    height: 28rem;
    width: 26rem;
}
.secaoBeneficios ul {
    flex-wrap: wrap;
    max-width: 20rem;
    justify-content: space-around;
}
.secaoBeneficios ul li {
    width: 10rem;
    height: 16rem;
    margin: 1rem auto;
    text-align: center;
}
.secaoBeneficios ul li img {
    width: 10rem;
}
.secaoBeneficios ul li span {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.2rem;
}

/*========= Seção Informativa ===========*/

.secaoInfo {
    background-color: var(--second-color);
    border-radius: 5rem;
    margin: auto;
}
.secaoInfo .lado-esquerdo img {
    width: 25rem;
    padding: 2rem;
}
.secaoInfo .lado-direito p{
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: center;
    width: 26rem;
}
.secaoInfo .lado-direito p span {
    font-weight: 700;
}
.secaoInfo .lado-direito img {
    width: 20rem;
    margin: 2.5rem;
}

/*========= Seção Simulador ===========*/

.secaoSimulador {
    margin: 3rem auto;
}

.secaoSimulador h3{
    height: 14rem;
    width: 22rem;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 4rem;
}

/*========= Seção Simulador Parte 1 ===========*/

.box {
    display: grid;
    gap: 5rem;
    width: 12rem;
    margin-bottom: 4rem;
}

.boxValor , .boxTempo {
    display: grid;
    gap: 2rem;
}

.boxValor span {
    font-weight: 400;
    font-size: 14px;
}
.boxValor input {
    outline: none;
    border: none;
    height: 3rem;
    border-bottom: 2px solid var(--primary-color);
    width: 20rem;
}
.boxTempo .simular {
    width: 200px;
    height: auto;
    background: white;
    color: var(--second-color);
    border: 2px solid var(--second-color);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.boxTempo .simular:hover {
    background: var(--third-color);
}
.boxValor span, .boxTempo span {
    font-weight: 400;
    font-size: 20px;
}
.boxTempo input {
    height: 2px;
    background: var(--primary-color);
    -webkit-appearance: none;
    width: 20rem;
}

/*========= Seção Simulador Parte 2 ===========*/

.boxInfo {
    background: var(--second-color);
    width: 26rem;
    padding: 4rem 0;
    border-radius: 12px;
}

.secaoSimulador .boxInfo .cardInfo1 , .cardInfo2 {
    margin: 0 auto;
    width: 24rem;
}
.cardInfo1 div span , .cardInfo2 div span {
    font-weight: 700;
    font-size: 48px;
    color: white;
}
.cardInfo1 span , .cardInfo2 span {
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: white;
}

.cardInfo1 {
    border-bottom: 2px solid #ffff;
}
.cardInfo1 div {
    margin-bottom: 20px;
}
.cardInfo1 div img  {
    margin-right: 14rem;
}

.cardInfo2 div img {
    margin-right: 13.5rem;
}
.cardInfo2 {
    margin-top: 12px;
}

/*========= Seção Principal ===========*/

.secaoPrincipal h3 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: left;
    width: 20rem;
}

.secaoPrincipal .flexRow {
    flex-direction: column;
    width: 15rem;
    height: 20rem;
}
.secaoPrincipal .flexRow .btn {
    text-decoration: none;
    border-radius: 10px;
    color: var(--primary-color);
    border: 3px solid var(--third-color);
    font-weight: 700;
    cursor: pointer;

    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: 1.8rem;
}
.secaoPrincipal .flexRow a:hover , 
.secaoPrincipal .flexRow div:hover{
    color: var(--primary-color);
    background-color: var(--third-color);
    border: 3px solid var(--primary-color);
}
/*========= Seção QrCode ===========*/
.secaoQrcode.mostrar {
    display: flex;
}
.secaoQrcode {
    display: none;
    position: fixed;
    top: 0;
    left: 55%;
    height: 100%;
    border-radius: 60px 0 0 60px;
    
    background: var(--second-color);
    box-shadow: 1px 1px 10px 2px midnightblue;

    /* right: -10rem;
    transition: 0.5s; */
}

.containerQr {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerQr h3 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 15px;
}

.containerQr p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 28px;
}
.containerQr .qrImg {
    background: white;
    padding: 30px;
    border: 3px solid var(--third-color);
    border-radius: 20px;
    margin-bottom: 70px;
}
.containerQr .qrImg img , .containerQr img {
    width: 230px;
}

/* ========================= RODAPÉ  ========================================== */
footer{
    background-color: var(--second-color);
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 45px 45px 0 0;
}

footer img:first-child {
    width: 6rem;
}
footer img {
    width: 18rem;
}