/* ========================= BASE  ========================================== */
:root {
    font-size: 62.5%;

    --primary-color: hsl(230, 65%, 33%);
    --second-color: hsl(226, 49%, 52%);
    --third-color: hsl(39, 100%, 65%);
 }

body {
    height: 100vh;
    font-family: "Montserrat" , sans-serif;
}

.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========================= CABEÇALHO  ========================================== */

header {
    background-color: var(--second-color);
    max-height: 20rem;
}
.logoBemol {
    max-width: 30rem;
    max-height: 15rem;
    width: auto;
    height: auto;
    margin: 4rem 0 4rem 14rem;
}

/* ========================= MENU  ========================================== */


/* ========================= SEÇÕES  ========================================== */
section {
    display: flex;
}

/*========= Seção Inicial ===========*/
.secaoInicial {
    margin-top: 3rem;
}
.secaoInicial h1 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 6.1rem;
    line-height: 6.7rem;
    width: 46.8rem;
    height: 20rem;
    margin-bottom: 2rem;
}

.secaoInicial p {
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 400;
    width: 39.6rem;
    height: 6rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.secaoInicial a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--third-color);
    padding: 1.6rem 2.4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;

    height: 5.8rem;
    width: 33.6rem;
    
    border: none;
    border-radius: 1rem;
    cursor: pointer;

}
.secaoInicial a:hover {
    color: var(--third-color);
    background-color: var(--second-color);
}

/*========= Seção Benefícios ===========*/
.secaoBeneficios {
    max-width: 90rem;
    max-height: 70rem;
    margin: auto;

}
.secaoBeneficios h6 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: 4.5rem;
}
.secaoBeneficios div img {
    height: 50rem;
    width: 50rem;
}
.secaoBeneficios ul {
    flex-wrap: wrap;
    max-width: 45rem;
    max-height: 65.5rem;
    justify-content: space-between;
}
.secaoBeneficios ul li {
    width: 12rem;
    height: 16rem;
    margin: 1rem auto;
    text-align: center;
}
.secaoBeneficios ul li span {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.5rem;
}

/*========= Seção Informativa ===========*/

.secaoInfo {
    background-color: var(--second-color);
    border-radius: 7rem;
    margin: auto;
}
.secaoInfo .lado-esquerdo img {
    width: 25rem;
    padding: 3rem;
}
.secaoInfo .lado-direito p{
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: left;
}
.secaoInfo .lado-direito p span {
    font-weight: 700;
}
.secaoInfo .lado-direito img {
    width: 50rem;
    margin-top: 4rem;
}

/*========= Seção Banner ===========*/

.secaoBanner img {
    margin: 3rem auto;
    width: 74rem;
}

/*========= Seção Simulador ===========*/

.secaoSimulador {
    margin: 5rem auto;
    max-width: 120rem;
    height: 30rem;
}

.secaoSimulador h3{
    height: 13rem;
    width: 54rem;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 5rem;
}
.secaoSimulador div:first-child {
    width: 390px;
}

/*========= Seção Simulador BOX 1 ===========*/

.box {
    display: grid;
    gap: 5rem;
    width: 28rem;
}

.boxValor , .boxTempo {
    display: grid;
    gap: 2rem;
}

.boxValor span {
    font-weight: 400;
    font-size: 14px;
}
.boxValor input {
    outline: none;
    border: none;
    height: 3rem;
    border-bottom: 2px solid var(--primary-color);
    width: 34rem;
}
.boxTempo label , .boxValor label {
    font-weight: 400;
    font-size: 20px;
}
.boxTempo input {
    height: 2px;
    background: var(--primary-color);
    -webkit-appearance: none;
    width: 34rem;
}

/*========= Seção Simulador BOX 2 ===========*/

.boxInfo {
    background: var(--second-color);
    width: 430px;
    height: 300px;
    margin: 12rem 0 0 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secaoSimulador .boxInfo .cardInfo1 {
    margin: 0 auto;
    width: 28rem;
    border-bottom: 2px solid #ffff;
}
.cardInfo1 div {
    margin-bottom: 30px;
}
.cardInfo1 div img {
    margin-right: 14rem;
}
.cardInfo1 div span {
    font-weight: 700;
    font-size: 48px;
}
.cardInfo1 span {
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: white;
}



/*========= Seção Principal ===========*/

.secaoPrincipal h3 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5rem;
    text-align: left;
    width: 50rem;
}

.secaoPrincipal div {
    flex-direction: column;
    width: 15rem;
    height: 20rem;
}
.secaoPrincipal div a {
    text-decoration: none;
    border-radius: 10px;
    color: var(--primary-color);
    border: 3px solid var(--third-color);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    cursor: pointer;

    width: 24rem;
    height: 5.2rem;
    text-align: center;
    padding: 1.2rem 0;

}
.secaoPrincipal div a:hover {
    color: var(--primary-color);
    background-color: var(--third-color);
    border: 3px solid var(--primary-color);
}
.secaoQrcode {
    display: none;
}
/* ========================= RODAPÉ  ========================================== */
footer{
    background-color: var(--second-color);
    height: 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 45px 45px 0 0;
}

footer img:first-child {
    width: 15rem;
}
footer img {
    width: 40rem;
}